@font-face {
    font-family: 'weathericons';
    src: url('../weather-icons/font/weathericons-regular-webfont.eot');
    src: url('../weather-icons/font/eathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../weather-icons/font/weathericons-regular-webfont.woff2') format('woff2'), url('../weather-icons/font/weathericons-regular-webfont.woff') format('woff'), url('../weather-icons/font/weathericons-regular-webfont.ttf') format('truetype'), url('../weather-icons/font/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
.mptt-wrapper-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.mptt-wrapper-container .prayer-time {
    flex: 0 0 33.33%;
    width:33.33%;
    padding: 10px 0;
}
.mptt-wrapper-container .prayer-time {
    background-color: transparent !important;
    border-bottom: 1px solid;
    border-color: #134a43 !important;
    padding: 10px 0;
}
.mptt-wrapper-container .prayer-time {
    width: calc(100%/6);
    border-right: 1px solid #e2e2e2;
    padding: 15px 0;
}
.mobile-widget .current-date {
    display: block;
    width: 100%;
    color: white !important;
    text-align: center;
}
.mobile-widget .timer  {
    text-align: center;
    margin-bottom: 20px;
}
.mptt-full-timetable .table{
    overflow-y: hidden;
    overflow-x:auto;
}
.mptt-full-timetable .dttable{
    border:1px solid #000!important;
}
.mptt-full-timetable .dttable td, .mptt-full-timetable .dttable th {
    padding:8px 5px!important;
    text-align: center;
    white-space: nowrap;
} 
#monthAjax {
    text-align: center!important;
    margin-bottom:20px;
}

#monthAjax select {
	border-radius:0px !important;
}

#monthAjax select.otherYear {
    margin-right:20px;
	border-radius:0px!important;
}
.timeLeftCountDown > span {
    display: inline-block;
   /* width:30px;*/
}
.timeLeftCountDown > span.dots {
    display: inline-block;
    /*width:2px;*/
}
.home-widget .link {
    float:right;
}
.home-widget .link a{
	font-weight: bold;
    font-size: 18px;
	text-decoration:none!important;
}
.home-widget .link a:hover{
	color:#ffffff!important;
}
.home-widget .tdate {
    float:left;
	font-weight: bold;
    font-size: 18px;
}
.home-widget .current-date {
 text-align: center;
 margin-bottom:20px;
}

.home-widget {
	padding: 10px 0px 0px 0px;

}
.home-widget .current-date {
	padding:0px 30px
}

.home-widget .mptt-wrapper-container  {
	overflow-y:hidden;
	overflow-x:auto;
	flex-wrap:nowrap;
	margin-top:10px;
    justify-content:normal;
}
.home-widget .mptt-wrapper-container .prayer-time {
	min-width:120px;
	flex:0 0 16.6%;
    
}
.home-widget .current-date {
    text-align: center;
    margin-bottom:20px;
    padding-bottom:30px;
    position:relative;
}
#link-59-30{
	position: absolute;
    top: -30px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
	border-radius:30px;
	text-align:center;
}
#link-59-30 img {
	width:15px;
	height:25px;
	margin-top:8px;
}
#link-59-30:hover { 
	background:#fff!important;
}
.dttable thead{
    background: #fff;
}
.js-table-head-wrapper .dttable {
	margin-bottom:0px;
}
@media screen and (min-width: 500px) {
    .mptt-wrapper-container .prayer-time:nth-child(3n) {
        border-right: 0!important;
    }

    .home-widget .mptt-wrapper-container .prayer-time:last-child {
        border-right: 0px !important;
    }
    .mptt-wrapper-container .prayer-time:nth-child(n+4) {
        border-bottom: 0 !important;
    }
}
@media screen and (max-width: 500px) {
    .mptt-wrapper-container .prayer-time {
        flex: 0 0 50%;
        width:50%;
    }
    .mptt-wrapper-container .prayer-time:nth-child(2n) {
        border-right: 0!important;
    }
    .mptt-wrapper-container .prayer-time:nth-child(2n) {
        border-right: 0!important;
    }
    .home-widget .tdate{
        float: none;
        display:block;
        text-align: center;
        margin-bottom:5px;
		margin-top:20px;
    }
    .home-widget .link {
        float: none;
        display:block;
        text-align: center;
    }
	.mobile-widget .timer span.tmm {
        min-width:auto!important;

    }
	#link-59-30 {
    	top: -50px;
	}
}
@media screen and (max-width: 420px) {
	.mobile-widget .timer span.tmm {
        min-width:auto!important;
    }
	.mobile-widget .timer span.tmm {
		font-size:15px!important;
	}
}
@media screen and (max-width: 350px) {
    .mptt-wrapper-container .prayer-time {
        flex: 0 0 100%;
        width:100%;
    }
    .mptt-wrapper-container .prayer-time {
        border-right: 1px solid !important;
        border-left: 1px solid !important;
        border-top: 1px solid !important;
        border-bottom:0px!important;
    }
    .mptt-wrapper-container .prayer-time:nth-child(2n) {
        border-right: 1px solid !important;
    }
    .mptt-wrapper-container .prayer-time:last-child {
        border-bottom: 1px solid !important;
    }
}