.application-h2{
    color: #000000;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
}

.application-h4{
    color: #000000;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 50px;
  
}
.or-button{
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    background: #E7FC41;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    padding: 11px 34px 11px 53px;

}
.pdf-person{
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    background: #E7FC41;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    padding: 11px 15px;
}
.img-button{
    margin-left: 10px;
}
.pdf-btn-grp{
    display: flex;
    justify-content: end;
    gap: 20px;
    position: absolute;
    top: -22px;
    right: 0px; 
}
.img-pdf {
    width: 85% !important;
  }
.application-flex-div{
    /* border-bottom: 2px solid rgb(187 187 187 / 42%); */
    margin-bottom: 35px;
    padding: 20px 0px;
}
.img-pdf{
    box-shadow: 17px 13px 0px #E7FC41;
    border-radius: 10px;
}
.pdf-btn{
    background: #E7FC41;
    padding: 13px;
    border-radius: 50%;
}
.application-p{
    color: #525252;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 50px;
}
.flex-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.logoimage{
    width: 35%;
    height: auto;
    margin-top: -20px;
    margin-left:4px;
}
.pdf-layout{
    background-color: #fff;
    width: 400px;
    box-shadow: 17px 13px 0px #E7FC41;
    border-radius: 10px;
}
.pdf-body{
    background: #F8F8F8;
    border-radius: 0px 0px 50px 0px;
    padding-bottom: 53px;
}
.bannersmall{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top:20px;
}
.bannertitle{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
    color: #333333;
    letter-spacing: 1px;
}
.para{
    font-size: 16px;
    text-align: center;
    color: '#333333';
    margin-top: 10px;
  }
  .footer-pdf {
    width: 100%;
    padding: 10px;
    border-radius: 34px;
    background-color: #fff;
  }
  .footerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footerColOne {
    width: 27%;
  }
  .footerCol {
    width: 33%;
  }
  .footerText,
  .footerTextOne {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
  }
  .footerColCenter {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerlogo {
    width: 58%;
    height: auto;
    margin-top: -34px;
    background: #ffff;
    align-items: center;
  }
  @media (max-width: 1080px) {
    .flex-sec{
        display: block;
    }
    .pdf-btn-grp{
        right: auto;
        left: 50px;
    }
    .pdf-sec{
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .application-flex-div{
        display: block;
    }
    .pdf-person{
        font-size: 11px;
    }
}



.popup-btn {
    font-family: "Montserrat", sans-serif;
  display: block;
  width: 70%;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  padding: 11px 34px 11px 53px;
  background: #E7FC41;
  color: #333333;
  border: none;
  cursor: pointer;
}


