
.main-heading{
    font-family: 'Poppins Bold';
    font-size: 32px;
    font-weight: 900;
}
.main-heading-sec{
    font-family: 'Poppins Bold';
    font-size: 32px;
    font-weight: 900; 
}
.main-upload-heading{
    font-family: 'Poppins Bold';
    font-size: 22px;
    font-weight: 900; 
}
.main-heading-2{
    font-family: 'Poppins Regular';
    font-size: 23px;
    /* padding-top: 15%;
    padding-bottom: 15%; */
}
.second-heading{
    font-family: 'Poppins Bold';
    font-size: 40px;  
}

.form-input{
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid #eaeaeb;
    color:rgba(0, 0, 0, 1);
    border-radius: 6px;
    padding: 14px 50px;
    font-size: 20px;
    width: 100%;
}

.color-circle{
    width: 28px;
    height:28px;
    background-color: #e7fc42;
    padding: 10px;
    border: 1px solid #e7fc42;  
    border-radius: 40px;
}
.text-color{
    color: #e7fc42;
    font-family: 'Poppins';
}
.form-input:hover,.form-input:active,.form-input:focus{
    border: 1px solid #e7fc42;
}
.form-input::placeholder, .form-select,.form-control,.ausgeubterBeruf::placeholder {
    font-family: 'Poppins Regular';
    color:rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 20px;
    text-align: start;
}
.prgress-bar{
    background-color: #e7fc42 !important;
}
.color-circle span{
    color: #333333;
}
.next-btn{
    width: 100%;
    background: #e7fc42;
    color: #333333;
}
.mappe-btn{
    width: 90%;
    font-size: 22px;
    font-weight: 600;
    padding: 16px 0px;
    background: #e7fc42;
    color: #333333;
}
.zum-btn{
    width: 90%;
    font-size: 22px;
    font-weight: 600;
    padding: 16px 0px;
    background: #efefef;
    color: #333333;
}
.upload-btn{
    background: transparent;
}
.uberspringen-btn{
    background: transparent;
    border: 1px solid #9d9d9d;
}
.uberspringen-btn:hover{
    background:#e1e1e1;
}
.p-address{
    font-size: 20px;
}
.form-check-input:checked + .form-check-label {
    color: #fff;
    background: #9d9d9d;
    ;
}
.radio-btn{
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    width: 100%;
    font-family: 'Karla', sans-serif;
    color:rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 20px;
}
.black{
    background: #8d8d8d !important;
    color: white !important;
}
.back-btn{
    width: 80%;
    background: #D9D9D9;
    color: #ffff;
}
.form-check-input{
    display: none;
    visibility: hidden;
}
.color-border,.color-text{
    border-color: #e7fc42;
}
.color-circle-grey{
    width: 28px;
    height:28px;
    background-color: #d1d5e3;
    padding: 10px;
    border: 1px solid #d1d5e3;  
    border-radius: 40px;
  }
.calender-svg{
    border-right: 1px solid #eaeaeb;
    padding-right: 9px;
}
.bg-heading{
    background: url(/images/baner4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 115%;
    padding-bottom: 9%;
    padding-top: 9%;
}
label.file_up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px dashed #34998b;
    border-radius: 10px;
    padding: 35px;
    color: #696969;
    width: 35%;
}
.static-section{
    background-color: #FCFCFC;
    border: 1px solid #E7FC42;
    border-radius: 20px;
    padding: 4%;    
}
.file-upload {
    display: flex;
    justify-content: center;
}
.file-h4{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.file-p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #00000066;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.custom-file-upload {
    border: 1px solid #0f91d2b3;
    display: inline-block;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    color: #0F91D2;
}
.ausgeubterBeruf{
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid #eaeaeb;
    color:rgba(0, 0, 0, 1);
    border-radius: 6px;
    padding: 14px 20px 14px 50px;
    font-size: 20px;
    width: 100%;
}
.submit-btn{
    background-color: #777777;
    color: #ffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.tips {
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}
.tip_bg{
    background-color: #F8F8F8;
}
.faq-txt{
    margin-left: 20px;
}
.faq-title, .faq-txt p{
    color: #333333;
    font-size: 16px;
}
.open_faq{
    border: 1px solid #E7FC41;
    border-radius: 50px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.profession-btn.black{
    cursor: pointer;
    background: #ededed66 !important;
}
.profession-btn{
    cursor: pointer;
    padding: 28px 16px;
    /* padding: 20px; */
    background-color: transparent;
    border: 2px solid #c7c7c78a;
}
.profession-btn img{
    width:32%;
}
.profession-btn p{
    font-size: 17px;
    font-weight: 800;
    color: #000;
}
.p-copy{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
    font-family: 'Poppins Medium';
    font-size: 16px;
}
.download-btn{
    background: #E7FC41;
    padding: 13px;
    border-radius: 10px;
    font-family: 'Poppins Medium';
    font-size: 12px;
}
@media screen and (max-width: 600px) {
    .form-input,.ausgeubterBeruf{
        padding: 14px 22px;
        font-size: 16px;
    }
    .main-heading{
        font-size: 23px;
    }
    .p-address{
        font-size: 15px; 
    }
    .main-heading-2{
        font-size: 19px; 
    }
    .second-heading{
        font-size: 30px; 
    }
    .main-heading-sec{
        font-size: 19px; 
    }
    .main-heading-sec-2{
        font-size: 15px; 
    }
}