.register-btn{
    background: #f4f2f4;
    padding: 13px 19px;
    border-radius: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.label-input {
    color: #6f6e77;
    font-size: 13px;
    font-family: 'DM Sans';
}
.forgot-link{
    color: #e7fc41;
    font-weight: 600;
    font-size: 12px;
}
.signIn-btn{
    color: #fff;
    border-radius: 24px;
    padding: 9px 24px;
    background: #e7fc41;
}
.faq-sec{
    bottom: 10px;
}
.faq-btn{
    background-color: #F8F8F8;
    color: #333333;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 28px;  
}
.logo{
    width: 60%;
    }
    .sidebar-h1{
        padding-left: 15px;
        font-size: 11px;
        font-family: 'Poppins Bold';
    }
    .progress-circle{
        border-radius: 18px;
        padding: 35px;
        background-color: #e7fc41;
        margin-top: 15%;
    }
    .progress-p{
        font-size: 15px;
        font-family: 'Poppins Bold'; 
    }
    .btn-tip{
        padding: 9px;
        font-weight: 700;
        border-radius: 20px;
        margin-top: 20px;
        width: 100%;
        background-color: #e7fc41;
    }
    .bell-dot{
        background-color: #e7fc41;
    }
    .btn-plan{
        background-color: #e7fc41; 
        padding: 8px 25px;
        font-weight: 700;
        border-radius: 20px;
    }
    @media screen and (max-width: 600px) {
        .btn-plan{
            padding: 8px 16px;
        }
    }